{% extends 'base.html.twig' %}

{% block title %}OSAS Test{% endblock %}

{% block body %}

<h2> D{{ flow.getCurrentStepNumber() }} </h2>
<h2>Per conoscerci meglio</h2>

<p>Compila tutti i campi per proseguire nel test ;)</p>

<div>
	Elenco:
	{% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
</div>
{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_rest(form) }}

	{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
			craue_formflow_button_label_finish: 'Invia',
			craue_formflow_button_label_back: 'Indietro',
			craue_formflow_button_label_next: 'Continua',
			craue_formflow_button_label_reset: 'Cancella'
		}
	%}

{{ form_end(form) }}

{% endblock %}
