<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}OSAS Test{% endblock %}</title>
        {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
      <div class="container">
          <h1>OSAS Test</h1>
          <p>Potrai scoprire attraverso semplici domande se sei un soggetto a rischio "OSAS"</p>

        {% block body %}
        {% endblock %}

      </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
