{% extends 'base.html.twig' %}

{% block title %}Errore 403: Accesso negato - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Errore 403: Accesso negato</h1>

    <p>Non hai i permessi per accedere a questa pagina.</p>
{% endblock %}
