{% extends 'base.html.twig' %}

{% block title %}Errore - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Errore</h1>

    <p>Si è verificato un errore, si prega di riprovare più tardi.</p>
{% endblock %}
