{% extends 'base.html.twig' %}

{% block title %}Errore 404: Pagina non trovata - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Errore 404: Pagina non trovata</h1>

    <p>La pagina richiesta non è stata trovata.</p>
{% endblock %}
